{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <ul class="nav nav-tabs">
            {% for i in total_hours %}
            <li class="{% if forloop.counter == 1 %}active{% endif %}"><a data-toggle="tab" class="_get_tab"
                    data-hour="{{i.hour_slab}}" href="#hour_slab{{i.hour_slab}}">Hour {{i.hour_slab}}</a></li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            <!-- {% for i in total_hours %}
            <div id="hour_slab{{i.hour_slab}}" class="tab-pane fade {% if forloop.counter == 1 %}in active{% endif %}">
                <h3>Hour {{i.hour_slab}}</h3>
                <figure class="highcharts-figure">
                    <div id="container_{{i.hour_slab}}"></div>
                </figure>
            </div>
            {% endfor %} -->

            <div id="" class="tab-pane fade in active">
                <h3>Hour <span class="_show_hour">1</span></h3>
                <figure class="highcharts-figure">
                    <div id="chartContainer"></div>
                </figure>
            </div>
        </div>
    </div>




    <script src="{% static 'js/highcharts/js/highcharts.js' %}"></script>

    <script src="{% static 'js/highcharts/js/highcharts-more.js' %}"></script>
    <script src="{% static 'js/highcharts/js/dumbbell.js' %}"></script>
    <script src="{% static 'js/highcharts/js/lollipop.js' %}"></script>

    <script src="{% static 'js/highcharts/js/exporting.js' %}"></script>
    <script src="{% static 'js/highcharts/js/export-data.js' %}"></script>
    <script src="{% static 'js/highcharts/js/accessibility.js' %}"></script>


    <script>
        var hour = 1;

        $(document).ready(function () {
            $.ajax({
                url: "{% url 'getChartData' %}",
                type: 'post',
                data: ({ hour: hour, csrfmiddlewaretoken: '{{csrf_token}}' }),
                success: function (response) {
                    renderChart(response.result);
                },
            });
        });

        $(document).on('click', '._get_tab', function () {
            elem = $(this);
            hour = elem.attr('data-hour');
            $('._show_hour').text(hour);
            $.ajax({
                url: "{% url 'getChartData' %}",
                type: 'post',
                data: ({ hour: hour, csrfmiddlewaretoken: '{{csrf_token}}' }),
                success: function (response) {
                    renderChart(response.result);
                },
            });
        });

        function renderChart(result) {
            // Make all the colors semi-transparent so we can see overlapping dots
            const colors = Highcharts.getOptions().colors.map(color =>
                Highcharts.color(color).setOpacity(0.5).get()
            );

            Highcharts.chart('chartContainer', {
                chart: {
                    type: 'scatter'
                },
                credits: {
                    enabled: false
                },

                colors,

                title: {
                    text: 'Strain Data Analysis'
                },

                xAxis: {
                    // categories: ['method_1', 'method_2', 'method_3', 'method_4', 'method_5', 'method_6', 'method_7', 'method_8', 'method_9', 'method_10']
                    categories: result.categories
                },

                yAxis: {
                    title: {
                        text: 'Measurements'
                    }
                },

                plotOptions: {
                    scatter: {
                        showInLegend: false,
                        jitter: {
                            x: 0.24,
                            y: 0
                        },
                        marker: {
                            radius: 2,
                            symbol: 'circle'
                        },
                        tooltip: {
                            pointFormat: 'Measurement: {point.y:.3f}'
                        }
                    }
                },

                series: result.series
            });
        }
    </script>
</body>

</html>