{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Import Excel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
    <link href="{% static 'images/favicon.png' %}" rel="apple-touch-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>

<body>
    <div class="container mt-5 mb-5">
        <h2 class="text-center">Import Excel Files</h2>
        <h5 class="text-center text-info">Please Maintain The Excel File As First Column In Date Time With "dd-mm-YYYY
            HH:MM:SS" Format </h2>
            <h5 class="text-center">Please Uncheck The Checkbox If Following File Not To Be Uploaded </h2>

                {% if messages %}
                {% for message in messages %}
                {% if forloop.counter == 1 %}
                {% if message.tags == 'error' %}
                <div class="bg-danger text-white text-center">
                    <div class="{{ message.tags }}" style="height: 30px;">{{ message }}</div>
                </div>
                {% elif message.tags == 'success' %}
                <div class="bg-success text-white text-center">
                    <div class="{{ message.tags }}" style="height: 30px;">{{ message }}</div>
                </div>
                {% else %}
                <div class="text-center">
                    <div class="{{ message.tags }}" style="height: 30px;">{{ message }}</div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endif %}
                <form action="" method="post" id="submit_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="strain_gauge">Strain Gauge Excel: <input type="checkbox" name="strain_required"
                                checked id="strain_required" class="check_required"></label>
                        <div class="row">
                            <div class="col-md-10">
                                <input type="file" class="form-control" id="strain_gauge" name="strain_gauge"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required>
                            </div>
                            <div class="col-md-2">
                                <div class="col-md-10">
                                    <a href="{% url 'downloadExcel' 'strain' %}">
                                        Sample Data
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="tilt">Tilt Excel: <input type="checkbox" name="tilt_required" checked
                                id="tilt_required" class="check_required"></label>
                        <div class="row">
                            <div class="col-md-10">
                                <input type="file" class="form-control" id="tilt" name="tilt"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required>
                            </div>
                            <div class="col-md-2">
                                <div class="col-md-10">
                                    <a href="{% url 'downloadExcel' 'tilt' %}">
                                        Sample Data
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="displacement">Displacement Excel: <input type="checkbox"
                                name="displacement_required" checked id="displacement_required"
                                class="check_required"></label>
                        <div class="row">
                            <div class="col-md-10">
                                <input type="file" class="form-control" id="displacement" name="displacement"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required>
                            </div>
                            <div class="col-md-2">
                                <div class="col-md-10">
                                    <a href="{% url 'downloadExcel' 'displacement' %}">
                                        Sample Data
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="settlement">Settlement Excel: <input type="checkbox" name="settlement_required"
                                checked id="settlement_required" class="check_required"></label>
                        <div class="row">
                            <div class="col-md-10">
                                <input type="file" class="form-control" id="settlement" name="settlement"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required>
                            </div>
                            <div class="col-md-2">
                                <div class="col-md-10">
                                    <a href="{% url 'downloadExcel' 'settlement' %}">
                                        Sample Data
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="vibration">Vibration Excel: <input type="checkbox" name="vibration_required" checked
                                id="vibration_required" class="check_required"></label>
                        <div class="row">
                            <div class="col-md-10">
                                <input type="file" class="form-control" id="vibration" name="vibration"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required>
                            </div>
                            <div class="col-md-2">
                                <div class="col-md-10">
                                    <a href="{% url 'downloadExcel' 'vibration' %}">
                                        Sample Data
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-success submit_btn">Upload</button>
                    </div>
                </form>
    </div>

    <script>
        $(document).on('submit', '#submit_form', function (e) {
            $('.submit_btn').text('Please Wait ...');
            $('.submit_btn').attr('disabled', true);
        })

        $(document).on('click', '.check_required', function () {
            let elem = $(this);
            if (elem.is(':checked')) {
                elem.parents(".form-group").find("input[type=file]").attr('required', 'required');
            } else {
                elem.parents(".form-group").find("input[type=file]").removeAttr('required');
            }
        });
    </script>
</body>

</html>