{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Import CSV</title>
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>

<body>
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="csv_data">
            <button type="submit">Upload</button>
        </form>
    </div>
</body>

</html>