{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
    <link href="{% static 'images/favicon.png' %}" rel="apple-touch-icon">

    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'select2/select2.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <title>Visualize Sensors Data</title>
</head>

<body>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-lg-8 col-xl-8 col-8">
                <h2 style="font-weight: 600;">SPAAViz</h2>
            </div>
            <!-- <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2 col-2">
                <a href="{% url 'compare' %}" class="btn btn-sm btn-info">Compare</a>
            </div> -->
            <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2 col-2">
                <a href="{% url 'importExcel' %}" class="btn btn-sm btn-info">Import Data</a>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 col-12">
            {% if messages %}
            {% for message in messages %}
            {% if forloop.counter == 1 %}
            {% if message.tags == 'error' %}
            <div class="bg-danger text-white text-center">
                <div class="{{ message.tags }}" style="height: 30px;">{{ message }}</div>
            </div>
            {% elif message.tags == 'success' %}
            <div class="bg-success text-white text-center">
                <div class="{{ message.tags }}" style="height: 30px;">{{ message }}</div>
            </div>
            {% else %}
            <div class="text-center">
                <div class="{{ message.tags }}" style="height: 30px;">{{ message }}</div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="row mb-3">
                <div class="form-group">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="normal" name="chart_option" value="normal"
                            checked>Normal(Single Sensor) Data Analysis
                        <label class="form-check-label" for="normal"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="comparative" name="chart_option"
                            value="comparative">Comparative Data Analysis
                        <label class="form-check-label" for="comparative"></label>
                    </div>
                </div>
            </div>
            <div class="normal">
                <form action="#" id="normal_chart_details_form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Sensor Type</label>
                                <select name="sensor_type" id="sensor_type" class="form-control selectpicker" required>
                                    <option value="">Select One</option>
                                    {% for i in sensor_types.keys %}
                                    <option value="{{i}}">
                                        {{sensor_types.values|get_list2_value:forloop.counter0}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Sensors (Multiple)</label>
                                <select name="method" id="method" class="form-control selectpicker" required multiple>
                                    <option value="">Select Sensor Type</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="from_time">From Time</label>
                                <input name="from_time" type="datetime-local" id="normal_from_time" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="to_time">To Time</label>
                                <input name="to_time" type="datetime-local" id="normal_to_time" class="form-control"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mt-4">
                                <button type="submit" class="btn btn-sm btn-success normal_submit_btn">Submit</button>
                            </div>
                        </div>
                        <div class="col-md-6 normal_reset_btn" style="display: none;">
                            <div class="form-group mt-4">
                                <a href="{% url 'index' %}" class="btn btn-sm btn-warning">Reset</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="comparative" style="display: none;">
                <form action="#" id="comparative_chart_details_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 parent_form">
                            <div class="form-group">
                                <label>Select Sensor Type</label>
                                <select name="sensor_type" class="sensor_type form-control selectpicker" required>
                                    <option value="">Select One</option>
                                    {% for i in sensor_types.keys %}
                                    <option value="{{i}}">
                                        {{sensor_types.values|get_list2_value:forloop.counter0}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Select Sensor</label>
                                <select name="method" class="method form-control selectpicker" required multiple>
                                    <option value="">Select Sensor Type</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 parent_form">
                            <div class="form-group">
                                <label>Select Sensor Type</label>
                                <select name="sensor_type" class="sensor_type form-control selectpicker" required>
                                    <option value="">Select One</option>
                                    {% for i in sensor_types.keys %}
                                    <option value="{{i}}">
                                        {{sensor_types.values|get_list2_value:forloop.counter0}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Select Sensor</label>
                                <select name="method" class="method form-control selectpicker" required multiple>
                                    <option value="">Select Sensor Type</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="from_time">From Time</label>
                                <input name="from_time" type="datetime-local" id="comparative_from_time"
                                    class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="to_time">To Time</label>
                                <input name="to_time" type="datetime-local" id="comparative_to_time"
                                    class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group mt-4">
                                <button type="submit" class="btn btn-success comparative_submit_btn">Submit</button>
                            </div>
                        </div>
                        <div class="col-md-3 comparative_reset_btn" style="display: none;">
                            <div class="form-group mt-4">
                                <a href="{% url 'index' %}" class="btn btn-warning">Reset</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="mt-4">
                <div class="normalChart" style="display: none;">
                    <div class="col-md-12">
                        <figure class="highcharts-figure">
                            <div id="chartContainer"></div>
                        </figure>
                    </div>
                </div>
                <div class="comparativeChart" style="display: none;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#individual">Individual</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#combine">Combine</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="individual" class="container tab-pane active"><br>
                            <div class="col-md-12">
                                <figure class="highcharts-figure">
                                    <div id="chartFirstContainer"></div>
                                </figure>
                            </div>
                            <div class="col-md-12">
                                <figure class="highcharts-figure">
                                    <div id="chartSecondContainer"></div>
                                </figure>
                            </div>
                        </div>
                        <div id="combine" class="container tab-pane fade"><br>
                            <div class="col-md-12">
                                <figure class="highcharts-figure">
                                    <div id="combineChartContainer"></div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'select2/select2.min.js' %}"></script>
    <script src="{% static 'js/highcharts/js/highcharts.js' %}"></script>

    <script src="{% static 'js/highcharts/js/highcharts-more.js' %}"></script>
    <script src="{% static 'js/highcharts/js/dumbbell.js' %}"></script>
    <script src="{% static 'js/highcharts/js/lollipop.js' %}"></script>

    <script src="{% static 'js/highcharts/js/exporting.js' %}"></script>
    <script src="{% static 'js/highcharts/js/export-data.js' %}"></script>
    <script src="{% static 'js/highcharts/js/accessibility.js' %}"></script>

    <script>
        $('.selectpicker').select2({
            placeholder: ''
        });

        $(document).on('change', '#sensor_type', function () {
            let sensor_type = $(this).val();
            $.ajax({
                url: "{% url 'getSensorsByTypes' %}",
                type: 'post',
                data: ({ sensor_type: sensor_type }),
                success: function (response) {
                    if (response.code == 200) {
                        var sensors_text = `<option value="">Select Sensors (Multiple)</option>`;
                        for (const key in response.columns) {
                            sensors_text += `<option value="${key}">${response.columns[key]}</option>`;
                        }
                        $("#method").html(sensors_text);

                        // Convert the data to a JavaScript Date object
                        // const minTime = new Date(response.min_time).toISOString().slice(0, 16);
                        // const maxTime = new Date(response.max_time).toISOString().slice(0, 16);
                        var minTime = response.min_time;
                        var maxTime = response.max_time;

                        // Set the min and max attributes of the input element
                        $('#normal_from_time').attr('min', minTime);
                        $('#normal_from_time').attr('max', maxTime);

                        // Set the min and max attributes of the input element
                        $('#normal_to_time').attr('min', minTime);
                        $('#normal_to_time').attr('max', maxTime);
                    } else {
                        alert(response.message);
                    }
                },
            });
        })

        $(document).on('submit', '#normal_chart_details_form', async function (e) {
            e.preventDefault();
            $('.normal_submit_btn').text('Submitting...');
            $('.normal_submit_btn').prop('disabled', true);
            // if (parseInt($('#from_hour').val()) > parseInt($('#to_hour').val())) {
            //     alert("From hour should not exceeds To hour");
            // } else {
            var formData = new FormData(this);
            await $.ajax({
                type: "POST",
                evalScripts: true,
                contentType: false,
                processData: false,
                url: "{% url 'getChartData' %}",
                data: formData,
                success: function (response) {
                    $('.normal_submit_btn').text('Submit');
                    $('.normal_submit_btn').prop('disabled', false);
                    if (response.code == 200) {
                        $('.normal_reset_btn').css('display', 'block');
                        result = response.result;
                        $('.normalChart').css('display', 'block');
                        $('.comparativeChart').css('display', 'none');
                        renderNormalLineChart(result);
                    } else {
                        alert(response.message)
                    }
                }
            });
            // }
        });

        function renderNormalLineChart(result) {
            // Create the chart
            Highcharts.chart('chartContainer', {

                chart: {
                    zoomType: 'x',
                    // height: 500
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: 'Strain Data Analysis'
                },

                accessibility: {
                    screenReaderSection: {
                        beforeChartFormat: '<{headingTagName}>{chartTitle}</{headingTagName}><div>{chartSubtitle}</div><div>{chartLongdesc}</div><div>{xAxisDescription}</div><div>{yAxisDescription}</div>'
                    }
                },

                tooltip: {
                    valueDecimals: 5
                },

                xAxis: {
                    type: 'datetime'
                },

                series: result.series

            });
        }

    </script>

    <script>
        $(document).on('change', '.sensor_type', function () {
            let elem = $(this);
            let sensor_type = elem.val();
            $.ajax({
                url: "{% url 'getSensorsByTypes' %}",
                type: 'post',
                data: ({ sensor_type: sensor_type }),
                success: function (response) {
                    if (response.code == 200) {
                        var sensors_text = `<option value="">Select Sensor</option>`;
                        for (const key in response.columns) {
                            sensors_text += `<option value="${sensor_type + "~~" + key}">${response.columns[key]}</option>`;
                        }
                        elem.parents('.parent_form').find('.method').html(sensors_text);
                    } else {
                        alert(response.message);
                    }
                },
            });

            let sensor_types = [];
            $('.sensor_type').each(function () {
                sensor_types.push($(this).val());
            })

            $.ajax({
                url: "{% url 'getCompareTimeDetails' %}",
                type: 'post',
                data: ({ sensor_types: sensor_types }),
                success: function (response) {
                    if (response.code == 200) {
                        // Convert the data to a JavaScript Date object
                        // const minTime = new Date(response.min_time).toISOString().slice(0, 16);
                        // const maxTime = new Date(response.max_time).toISOString().slice(0, 16);
                        var minTime = response.min_time;
                        var maxTime = response.max_time;

                        // Set the min and max attributes of the input element
                        $('#comparative_from_time').attr('min', minTime);
                        $('#comparative_from_time').attr('max', maxTime);

                        // Set the min and max attributes of the input element
                        $('#comparative_to_time').attr('min', minTime);
                        $('#comparative_to_time').attr('max', maxTime);
                    } else {
                        alert(response.message);
                    }
                },
            });
        })

        $(document).on('submit', '#comparative_chart_details_form', async function (e) {
            e.preventDefault();
            $('.comparative_submit_btn').text('Submitting...');
            $('.comparative_submit_btn').prop('disabled', true);
            var formData = new FormData(this);
            await $.ajax({
                type: "POST",
                evalScripts: true,
                contentType: false,
                processData: false,
                url: "{% url 'getCompareChartData' %}",
                data: formData,
                success: function (response) {
                    $('.comparative_submit_btn').text('Submit');
                    $('.comparative_submit_btn').prop('disabled', false);
                    if (response.code == 200) {
                        $('.comparative_reset_btn').css('display', 'block')
                        result = response.result;
                        $('.normalChart').css('display', 'none');
                        $('.comparativeChart').css('display', 'block');
                        renderCombineLineChart(result.combine_data);
                        renderCombineFirstLineChart(result.all_data[Object.keys(result.all_data)[0]]);
                        renderCombineSecondLineChart(result.all_data[Object.keys(result.all_data)[1]]);
                    } else {
                        alert(response.message)
                    }
                }
            });
        });

        function renderCombineLineChart(result) {
            // Create the chart
            Highcharts.chart('combineChartContainer', {

                chart: {
                    zoomType: 'x',
                    // height: 500
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: 'Combined Comparative Data Analysis'
                },

                accessibility: {
                    screenReaderSection: {
                        beforeChartFormat: '<{headingTagName}>{chartTitle}</{headingTagName}><div>{chartSubtitle}</div><div>{chartLongdesc}</div><div>{xAxisDescription}</div><div>{yAxisDescription}</div>'
                    }
                },

                tooltip: {
                    valueDecimals: 5
                },

                xAxis: {
                    type: 'datetime'
                },

                series: result

            });
        }

        function renderCombineFirstLineChart(result) {
            // Create the chart
            Highcharts.chart('chartFirstContainer', {

                chart: {
                    zoomType: 'x',
                    // height: 500
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: result.header
                },

                accessibility: {
                    screenReaderSection: {
                        beforeChartFormat: '<{headingTagName}>{chartTitle}</{headingTagName}><div>{chartSubtitle}</div><div>{chartLongdesc}</div><div>{xAxisDescription}</div><div>{yAxisDescription}</div>'
                    }
                },

                tooltip: {
                    valueDecimals: 5
                },

                xAxis: {
                    type: 'datetime'
                },

                series: result.data

            });
        }

        function renderCombineSecondLineChart(result) {
            // Create the chart
            Highcharts.chart('chartSecondContainer', {

                chart: {
                    zoomType: 'x',
                    // height: 500
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: result.header
                },

                accessibility: {
                    screenReaderSection: {
                        beforeChartFormat: '<{headingTagName}>{chartTitle}</{headingTagName}><div>{chartSubtitle}</div><div>{chartLongdesc}</div><div>{xAxisDescription}</div><div>{yAxisDescription}</div>'
                    }
                },

                tooltip: {
                    valueDecimals: 5
                },

                xAxis: {
                    type: 'datetime'
                },

                series: result.data

            });
        }
    </script>

    <script>
        $(document).on('click', 'input[name=chart_option]:checked', function () {
            chart_option = $(this).val();
            if (chart_option == 'normal') {
                $('.normal').css('display', 'block');
                $('.comparative').css('display', 'none');
                $('.normalChart').css('display', 'none');
                $('.comparativeChart').css('display', 'none');
            } else if (chart_option == 'comparative') {
                $('.comparative').css('display', 'block');
                $('.normal').css('display', 'none');
                $('.normalChart').css('display', 'none');
                $('.comparativeChart').css('display', 'none');
            }
            $('.selectpicker').select2({
                placeholder: ''
            });
        })
    </script>
</body>

</html>